<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="apruve" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Apruve</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Merchant ID</label>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>API Key</label>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Mode</label>
                    <source_model>Apruve\Payment\Model\Config\Source\Mode</source_model>
                </field>
                <field id="webhook_url" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Webhook URL</label>
                    <frontend_class>webhook-url</frontend_class>
                    <frontend_model>Apruve\Payment\Block\Adminhtml\Webhook</frontend_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>